body {background-color:rgb(255, 230, 0); margin: 2%;}
h1{font-family: 'Amatic SC' ; font-size: x-large;}
h3 {margin-top:-70px ;color:darkblue; font-family:'Ruluko'; font-size:medium;}
a:link{color: rgba(0, 0, 0, 0.753);}
.Welcome{color: rgb(102, 0, 255) ;}
.to{color: rgb(255, 0, 64);}
.my{color: rgb(42, 165, 54);}
.site{color:rgb(6, 128, 0);}
.heading{color: rgb(178, 111, 34); margin-top: -50px;}
hr{border-style: none;
border-top: dotted;
border-color: rgb(81, 0, 255);
border: width 5px;
width: 5%;}
.subtopic{ color: red;}
.logo{height: 150px ; width: 150px;}
img{width: 400px; height: 200px; margin-left: auto; margin-right: auto; display: block}
.subtopic2{color: darkslateblue;}
.subtopic3{color:darkolivegreen;}
h2{font-family:'Ruluko'; font-weight:lighter;}
iframe{margin: auto; display: block;height: 300px;width: 500px;}
.caption{text-align:center;}
.com {text-align: center;}
.subtopic4{color: rgb(239, 20, 255);}
.icon {width: 30px; height: 30px;}
a:hover {color: red;}
.go-to {width: 400px; height: 400px;}
.footer{font-family: 'Handlee'; color: blue;}
.profile-picture {height: 150px ; width: 150px; border-radius: 50%;}
.profile {font-family: 'Handlee'; font-size: large; color: white;}





/* css for viewport responsiveness*/

@media (min-width: 319px) and (max-width: 480px) {
    body {background-color: rgb(142, 122, 255); margin: 10px}
    img  {width: 300px; height: 150px; display: block;}
   .logo {width: 50px; height: 50px;}
    h2   {font-size: 10px; margin: 2%;}
    h1   {font-size: 15px;}
    .heading {display: none;}
    .heading2{text-align: center; font-size: 20px;}
    h3 { margin-top: -15px; font-size: 8.5px;}
    iframe {width: 300px; height: 150px; display: block;}
    .icon {width: 8px; height: 8px; display: none;}
    .icon2 {height: 20px; width: 20px; margin-inline: 10px; margin-left: 65px;}
    hr {width: 10%;}
    .mail {display: none;}
    .WELCOME {display: none;}
    .go-to {width: 200px; height: 200px;}
    img{width: 200px; height: 200px; display: block}
    .profile {display: none;}
    .profile-picture {display: none;}


    
  }
    
  @media (min-width: 481px) and (max-width: 1200px) {
    body {background-color: rgb(176, 230, 192); margin: 10px;}
    img  {width: 500px; height: 250px; display: block ;}
   .logo {width: 100px; height: 100px;}
    h2   {font-size: 15px; margin: 2%;}
    h1   {font-size: 20px;}
   .heading{display: none;}
   .heading2{text-align: center; font-size: 40px;}
    h3 { margin-top: -20px; font-size: 10px;}
    iframe {width: 500px; height: 250px; display: block;}
    .icon {width: 20px; height: 20px; margin-inline: 2px;}
    .icon2{height: 20px; width: 20px; margin-inline: 10px; margin-left: 100px; display: none;}
    hr {width: 5%;}
    .WELCOME {display: none;}
    img{width: 400px; height: 200px; display: block}
    .go-to {width: 200px; height: 200px; display: block;}
    .profile-picture {height: 100px; width: 100px;}
    .profile {font-size: small;}
    .go-to {height: 300px; width: 300px;}
    .mail {display: none;}
    
  }
  
  @media (min-width: 1201px) and (max-width: 1600px) {
  .heading2{display: none;}
  .icon2 {display: none;}  
  
  }

